<header class="main-header">
    <div class="header-container">
        <img id="idp-logo" src="../assets/logo.png" alt="IDP logo">
        <span class="glyphicon glyphicon-search search-input"><input class="search-in" type="text" placeholder="Search courses, universities or schools"></span>
        <nav id="header-nav">
            <ul>
                <li><img class="icon" src="../assets/feather-calendar.svg" alt="event_icon"><a href="#">Events</a></li>
                <li><img class="icon" src="../assets/material-location-on.svg" alt="findus_icon"><a href="#">Find us</a></li>
                <li class="round-border"><img class="icon" src="../assets/material-person-outline.svg" alt="sign_in_icon"><a href="#">Sign in</a></li>
            </ul>
        </nav>
    </div>
    <div class="collapse navbar-collapse sec-nav-c" id="navbarSupportedContent">
        <nav class="sec-nav">
            <ul class="navbar-nav mr-auto">
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="form">Form</a></li>
                <li><a routerLink="register">Courses</a></li>
                <li><a routerLink="students">Student Stories</a></li>
                <li><a routerLink="articles">Articles</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      IELTS<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="ielts/universities">universities</a><br>
                      <a class="dropdown-item" routerLink="ielts/student reviews">Students reviews</a>
                    </div>     
                  </li>
            </ul>
        </nav>
       
    </div>
</header>
<div class="f_I_icon_holder">
 <!-- Youtube -->
<i class="fab fa-youtube fa-2x"></i>
<!-- Github -->
<i class="fab fa-github fa-2x"></i>
    <!-- Linkedin -->
    <i class="fab fa-linkedin-in fa-2x"></i>

    <!-- Pinterest -->
    <i class="fab fa-pinterest fa-2x"></i>
    <!-- Whatsapp -->
    <i class="fab fa-whatsapp fa-2x"></i>
    <i class="fab fa-instagram fa-2x"></i>
</div>