<footer class="foot-container">
    <div class="footer-c">
        <div class="footer_column">
            <ul>
                <li><a href=""> <h3>Study Abroad</h3></a></li>  <br>
                <li><a href=""> <p style="color:white">How to choose your destination</p></a></li>  <br>
                <li><a href=""> <p>Study abroad</p></a></li><br>
                <li><a href=""> <p>Guide for parents</p></a></li><br>
                <li><a href=""> <p style="color:white">THE World University Rankings</p></a></li><br>
                <li><a href=""> <p>QS World University Rankings</p></a></li><br>
                <li><a href=""> <p style="color:white">IDP Events</p></a></li><br>
                <li><a href=""> <p>institution answers</p></a></li><br>
                <li><a href=""> <p>Student Essiantials</p></a></li><br>
            </ul>
        </div>
        <div class="footer_column">
            <ul>
                <li><a href=""> <h3>Useful Links</h3></a></li> <br> 
                <li><a href=""> <p>IDP Blog</p></a></li>  <br>
                <li><a href=""> <p style="color:white">Engineering courses</p></a></li><br>
                <li><a href=""> <p style="color:white">Health and medicine</p></a></li><br>
                <li><a href=""> <p style="color:white">Information technolofy</p></a></li><br>
                <li><a href=""> <p>management courses</p></a></li><br>
                <li><a href=""> <p>Scholarships to study abroad</p></a></li><br>
                <li><a href=""> <p>Student Reviews</p></a></li><br> 
            </ul>  
        </div>
        <div class="footer_column">
            <ul>
                <li><a href=""> <h3>IELTS</h3></a></li> <br> 
                <li><a href=""> <p>What is IELTS?</p></a></li>  <br>
                <li><a href=""> <p style="color:white">Prepare for IELTS</p></a></li><br>
                <li><a href=""> <p>computer-delivered IELTS</p></a></li><br>
                <li><a href=""> <p style="color:white">Book my IELTS test</p></a></li><br>
                <li><a href=""> <p>IELTS for UKVI</p></a></li><br>
                <li><a href=""> <p>IELTS test dates</p></a></li><br>
                <li><a href=""> <p>About IDP IELTS</p></a></li><br>
            </ul>  
        </div>
        <div class="footer_column">
            <ul>
                <li><a href=""> <h3>Connect with IDP</h3></a></li><br>  
                <li><a href=""> <p style="color:white">IDP in the news</p></a></li>  <br>
                <li><a href=""> <p style="color:white">About IDP</p></a></li>  <br>
                <li><a href=""> <p>Request an appointment</p></a></li><br>
                <li><a href=""> <p>Contact us</p></a></li><br>
                <li><a href=""> <p>About IDP Corporate</p></a></li><br>
                <li><a href=""> <p>IDP career</p></a></li><br>
                <li><a href=""> <p>Customer Grievances</p></a></li><br>
                <li><a href=""> <p>Corporate responsibility</p></a></li><br>
                <li><a href=""> <p>Student Essiantials</p></a></li><br>
            </ul>  
        </div>
    </div>
</footer>
<!----------------End tag--------------------->
<div class="end_container">
    <div class="end">
    <p>Copyright © 2021 IDP Education</p>
        <div class="end1">
            <p>liked courses</p>
            <img src="images/croped/heart.png" alt="heart" style="height:45px;width:45px">
            <p class="c_f_you">courses for you</p>
        </div>
    </div>
</div>