<div class="gallery_container" id="gal">
    <div class="gallery">
        <h2>Our students share their stories...</h2>
    
        <div class="photos">
            <div class="photo">
                <img src="../assets/2-Parneet-Kaur.jpg" alt="Students photo">
                <p class="student_name">Parmeet Kaur, Canada</p>
            </div>
            <div class="photo center_con">
                <img src="../assets/1-Ushmi.jpg" alt="Students photo">
                <p class="student_name">Ushmi, Australia</p>
            </div>
            <div class="photo">
                <img src="../assets/3-Abhishek-Paul.jpg" alt="Students photo">
                <p class="student_name">Abhishek Paul, Australia</p>
            </div>
        </div>
        <a class="es_link">Browse more subjects&nbsp;&nbsp;<img src="images/r_arrow.png" style="width:16px;height:11px;padding:0;margin:0"></a>
    </div>
</div>