<div class="main-container">
    <div class="main-c">
        <h1>Engineering Courses abroad</h1>
        <h2>17983 international courses found, showing 41-50 below</h2>
        <!------Row 1---->
        <div class="main-row">
            <!----Card 1---->
            <div class="card">
                <div class="card-bg-section">
                    <img class="card-bg" src="../assets/myhc_238186_320px.jpg" alt="car bg image">
                    
                    <p class="heart-icon">♡</p>
                    <p class="p-sep">Master of Engineering</p><p class="p-sep1"> (Mechatronics)</p>
                </div>
                <div class="card-content">
                    <h4>At western Study University</h4>
                    <div><img class="l" src="../assets/material-location-on.svg">Sydney, Australia</div>
                    <p class="l-text">The world university rank: 251</p>
                    <!--horizontal line-->
                    <div class="horizontal"></div>
                    <div class="sub-block">
                        <img src="../assets/grad_cap.jpg">
                        <div>
                            <p>Course qualification</p>
                            <span class="g-text">Master Degree(Coursework)</span>
                        </div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/tick.jpg">
                        <div>
                            <p>Entry score</p>
                            <span class="g-text">6.5</span>
                        </div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/dollar.jpg">
                        <div>
                            <p>Total course fee</p>
                            <span class="g-text">INR 3,294,661</span>
                        </div>
                    </div>
                </div>
            </div>
            <!----Card 2---->
            <div class="card">
                <div class="card-bg-section">
                    <img class="card-bg" src="../assets/myhc_238186_320px.jpg" alt="car bg image">
                    <p class="heart-icon">♡</p>
                    <p class="p-sep">Master of Engineering (Electrical</p><p class="p-sep1"> Engineering)</p>
                </div>
                <div class="card-content">
                    <h4>At western Study University</h4>
                    <div><img class="l" src="../assets/material-location-on.svg">Sydney, Australia</div>
                    <p class="l-text">The world university rank: 251</p>
                    <!--horizontal line-->
                    <div class="horizontal"></div>
                    <div class="sub-block">
                        <img src="../assets/grad_cap.jpg">
                        <div><p>Course qualification<p><span class="g-text">Master Degree(Coursework)</span></div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/tick.jpg">
                        <div><p>Entry score</p><span class="g-text">6.5</span></div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/dollar.jpg">
                        <div><p>Total course fee</p><span class="g-text">INR 3,294,661</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-row">
        <!----Card 3---->
            <div class="card">
            <!--3-->
                <div class="card-bg-section">
                    <img class="card-bg" src="../assets/myhc_181220_320px.jpg" alt="car bg image">
                    <p class="heart-icon">♡</p>
                    <p class="p-sep">Master of Engineering - Renewable</p><p class="p-sep1"> Energy Engineering</p>
                </div>
                <div class="card-content">
                    <h4>At the University of new South Wales</h4>
                    <div><img class="l" src="../assets/material-location-on.svg">Sydney, Australia</div>
                    <p class="l-text">The world university rank: 251</p>
                    <!--horizontal line-->
                    <div class="horizontal"></div>
                    <div class="sub-block">
                        <img src="../assets/grad_cap.jpg">
                        <div><p>Course qualification<p><span class="g-text">Master Degree(Coursework)</span></div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/tick.jpg">
                        <div><p>Entry score</p><span class="g-text">6.5</span></div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/dollar.jpg">
                        <div>
                            <p>Total course fee</p>
                            <span class="g-text">INR 4,680,637</span>
                        </div>
                    </div>
                </div>		
            </div>
            <!----Card 4---->
            <div class="card">
                <div class="card-bg-section">
                    <img class="card-bg" src="../assets/myhc_181220_320px.jpg" alt="car bg image">
                    <p class="heart-icon">♡</p>
                    <p class="p-sep">Master of Engineering - Petroleum</p><p class="p-sep1"> Engineering</p>
                </div>
                <div class="card-content">
                    <h4>At the University of new South Wales</h4>
                    <div><img class="l" src="../assets/material-location-on.svg">Sydney, Australia</div>
                    <p class="l-text">The world university rank: 251</p>
                    <!--horizontal line-->
                    <div class="horizontal"></div>
                    <div class="sub-block">
                        <img src="../assets/grad_cap.jpg">
                        <div><p>Course qualification<p><span class="g-text">Master Degree(Coursework)</span></div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/tick.jpg">
                        <div><p>Entry score</p><span class="g-text">6.5</span></div>
                    </div>
                    <div class="sub-block">
                        <img src="../assets/dollar.jpg">
                        <div>
                            <p>Total course fee</p>
                            <span class="g-text">INR 4,680,637</span>
                        </div>
                    </div>
                </div>
                <!--4-->
            </div>
        </div>
    </div>
    
</div>