<div class="form-container">
    <div class="form_left">
        <div class="side_radius">
            <p><b>Interested in studyig overseas with<br>IDP?</b></p>
            <p class="small_font">Fill in your details and we'll call you back!</p>
        </div>
    </div>
    <div class="form_right">
        <div class="form_placeholder">
           	<form>
                <input type="text" name="username" placeholder="First Name*">
                <input type="text" name="lastname" placeholder="Last Name*">
                <br>
                <input type="email" name="Email" placeholder="email address*">
                <br>
                <input type="text" name="" placeholder="+91" style="border-color:green"><input type="text" placeholder="Mobile Number*">
                <br>
                <label>Your prefered study destination*</label><label>When do you plan to study*</label><br>
                <select>
                    <option value="course-type" selected>Please select</option>
                    <option value="short-courses">Short courses</option>
                </select>
                <select>
                    <option value="course-type" selected>Please select</option>
                    <option value="short-courses">Short courses</option>
                </select>
                <br>
                <label>Nearest IDP office*</label><br>
                <select>
                    <option value="course-type" selected>Please select</option>
                    <option value="short-courses">Short courses</option>
                </select>
                <br>
                <label>Prefered mode of counselling*</label><br>
                <select>
                    <option value="course-type" selected>Please select</option>
                    <option value="short-courses">Short courses</option>
                </select>
                <br>
                <label>How whould you find your education*</label><br>
                <select>
                    <option value="course-type" selected>Please select</option>
                    <option value="short-courses">Short courses</option>
                </select>
                <br>
                <label>Preferd study level*</label><br>
                <select>
                    <option value="course-type" selected>Please select</option>
                    <option value="short-courses">Short courses</option>
                </select>
                <br>
                <p class="form_para">IDP will not share your details with others without your permisiion:</p>
                <input type="checkbox" name="checkbox"><span>I agree to IDP <a>terms</a> and <a>privacy policy</a></span>
                <br>
                <input type="checkbox" name="checkbox">Please contact me by phone, email or SMS to assist with my enquiry
                <br>
                <input type="checkbox" name="checkbox">I would like to receive updates and offers from IDP
                <br>
                <button class="form_submit">Help me to Study abroad</button>
            </form>
        </div>
    </div>
</div>