<div class="articles_new_container">
    <img class="circle_stick" src="../assets/croped/circle_stick-removebg-preview.png">
    <div class="articles_news">
        <div class="articles">
		<h2>Popular articles</h2>
            <div class="article_box">
                <img src="../assets/Expert-talk1.jpg" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>IDP Expert insights</h4>
                    <p>Read up insightful articles written by ou experts on all avenues of studying abroad You dont want to miss this!.</p>
                </div>
            </div>
			<div class="article_box">
                <img src="../assets/parentguide1.jpg" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>Guide for parents</h4>
                    <p>Our detailed guide will help you undindand how to support your child's dream of studying abroad.</p>
                </div>
            </div>
			<div class="article_box">
                <img src="../assets/timelineeee.jpg" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>University rankings</h4>
                    <p>There sitt a singlefartor joacan muswhen finalising purtutize initiation to the world university rankings can help map out your options</p>
                </div>
            </div>
			<div class="article_box">
                <img src="../assets/studyabroadintake3.jpg" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>Study abroad intakes</h4>
                    <p>Academic year in universities and differ from the ones in india Most universities offer two major intakes Lers help you know about it .</p>
                </div>
            </div>
            <div class="article_box">
                <img src="../assets/p5.png" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>How to choose a destination?</h4>
                    <p>it is crucial to weigh all the pros and cons of a country where you plan to further your conver Use oorhandbook ode on your study destination.</p>
                </div>
            </div>
		</div>
        <div class="new">
			<h2>What's new</h2>
            <div class="article_box">
                <img src="../assets/Covid-pod1.jpg" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>Latest study abroad updates(COVID-19)</h4>
                    <p>Keep posted about what's latest on the International education front during the COME 19 We bring you the latest updates on Australia, Canada, New Zealand Ireland, the</p>
                </div>
            </div>
            
            <div class="article_box">
                <img src="../assets/upcoming-events.jpg" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>Upcoming events</h4>
                    <p>it can get taxing to select the night course and university Attend our events to interact directly with topunere and make a well-informed decision All our events are meel.</p>
                </div>
            </div>
            
         
            
            <div class="article_box">
                <img src="../assets/p8.png" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>Cost of living calculator</h4>
                    <p>Planning to study abroad? Check and compare cost of wing intentionally with our cod on eslator took Find out how much it will.com you to live and study in your desired country by.</p>
                </div>
            </div>
           
            <div class="article_box">
                <img src="../assets/p9.png" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>IDP India Blog</h4>
                    <p>Kimp posted about the in and out of stuttung abbat We bring ya updates cousations dut-rest articles and muchance New blogs live every week</p>
                </div>
                
            </div>
            
            <div class="article_box">
                <img src="../assets/p10.png" alt="idp" style="width:150px; height:150px;margin-right:20px">
                <div class="inside_art_box">
                    <h4>Free Virtual counselling</h4>
                    <p>Connect from the comfort of your home.Our experienced counsellors can help you with the university and course selection ,application procedure,offer letters,etc.</p>
                </div>
            </div>  
		</div>
	</div>
	</div>