<div class="popular_course_container">
    <div class="courses">
        <h2 style="margin-bottom:30px;margin-top:30px">Popular Courses among indian students</h2>
        <div class="courses_row1">
            <div class="course">
                <img class="photo_a" src="../assets/computer-min.png" alt="Students photo" style="height:30px;width:30px">
                <p class="">Computer Science and IT</p>
                <p class="">Computer Science</p>
                <p class="">Information Technology</p>
                <p class="">Software Engineering</p>
            </div>
            <div class="course center_con">
                <img src="../assets/ico-Business-and-Management-min.png" alt="Students photo" style="height:30px;width:30px">
                <p class="">Business and Management</p>
                <p class="">Master of Business Administration</p>
                <p class="">Saies and Marketing</p>
                <p class="">Project Management</p>
            </div>
            <div class="course center_con">
                <img src="../assets/engi-min.png" alt="Students photo" style="height:30px;width:30px">
                <p class="">Enginering</p>
                <p class="">Mechnical Engineering</p>
                <p class="">Electrica; Engineering</p>
            </div>
        </div>
        <div class="courses_row2">
            <div class="course">
                <img class="photo_a" src="../assets/research.png" alt="Students photo" style="height:35px;width:35px">
                <p class="">Health and Science</p>
                <p class="">Medical and Surgery</p>
                <p class="">Dental Studies</p>
                <p class="">Physicotherapy</p>
            </div>
            <div class="course center_con">
                <img src="../assets/law.png" alt="Students photo" style="height:30px;width:30px">
                <p class="">Law and Legal Studies</p>
                <p class="">Legal Studies</p>
                <p class="">informational Law</p>
                <p class="">Business and Commercial</p>
            </div>
            <div class="course center_con">
                <img src="../assets/bio.png" alt="Students photo" style="height:35px;width:35px">
                <p class="">Biological and life Science</p>
                <p class="">Biotechnology</p>
                <p class="">Biological Scince</p>
                <p class="">Biomedical Engineering</p>
            </div>
        </div>
        <a class="sub_link">Browse more subjects&nbsp;&nbsp;<img src="../assets/r_arrow.png" style="width:16px;height:11px;padding:0;margin:0"></a>
    </div>
    </div>

<!------------------------------we will find your perfect fit---------------------------------->
<div class="perfect_fit_container">
    <img class="sprit_g" src="../assets/croped/green_stick-removebg-preview.png">
    <div class="perfect_fit">
        
        <div class="fit">
            <h3 style="margin-top:40px">We'll find your perfect fit</h3>
            <div class="fit_row" >
                <img src="../assets/RMIT.png" alt="partnet1" style="height:136px;width:260px">
                <img src="../assets/deakin-university.jpg" alt="partnet1" style="height:136px;width:260px">
                <img src="../assets/La-Trobe-University.jpg" alt="partnet1" style="height:136px;width:260px">
                <img src="../assets/Centennial-College.jpg" alt="partnet1" style="height:136px;width:260px">
            </div>
            <div class="fit_row">
                <img src="../assets/University-of-Greenwich-logo.jpg" alt="partnet1" style="height:136px;width:260px">
                <img src="../assets/melbourne.png" alt="partnet1" style="height:136px;width:260px">
                <img src="../assets/brimingam.jpg" alt="partnet1" style="height:136px;width:260px">
                <img src="../assets/tafe.jpg" alt="partnet1" style="height:136px;width:260px">	
            </div>
            <a class="es_link">Browse more subjects&nbsp;&nbsp;<img src="../assets/r_arrow.png" style="width:16px;height:11px;padding:0;margin:0"></a>
        </div>
        <h3 style="margin-top:40px">Our Partners</h3>
        <div class="partners">
            <img src="../assets/ielts.jpg" alt="partnet1" style="height:136px;width:260px">
            <img src="../assets/hot.jpeg" alt="partnet1" style="height:136px;width:260px">
        </div>
    </div>
</div>